@import "@moritzbrantner/ui/atlas/styles.css";

@source "../*.html";
@source "./**/*.{ts,tsx}";
@source "../../src/**/*.{ts,tsx}";

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
}

#root {
  min-height: 100vh;
}
